html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img{
	margin: 0;
	border: 0;
}
body {
	background-color: #ecf0f1;
}
@font-face {
	font-family: "Oxanium";
	src: url("fonts/Oxanium-Light.ttf");
   }
header {
	position: relative;
	display: block;
	width: 100%;
	height: 4em;
	background-color: #FFFFFF;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	z-index: 5;
}
.auth-container {
	position: relative;
	float: right;
	font-family: 'Roboto', sans-serif; 
	height: 100%;
	width: 400px;
	background-color: #FFFFFF;	
	border-bottom: 1px rgb(46, 46, 46);
}
.auth-container:hover::after {
    content: 'Для входа нужно просто ввести пароль!';
    position: inherit; 
    top: 8em;
	z-index: 100; 
    background: #ecf0f1; 
    font-family: Arial, sans-serif; 
    font-size: 11px; 
    padding: 5px 10px; 
	border: 1px solid #333; 
   }
.auth-body {
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -0.625em;
	width: 100%;
	text-align: justify;
	vertical-align: middle;
}

.logo-container {
	position: relative;
	float: left;
	height: 100%;
	font-size: 200%;
	width: 400px;
}
.logo-body {
	font-family: 'Oxanium';
	position: absolute;
	top: 50%;
	width: 100%;
	margin: -0.625em 5% 0 5%;
}
.logo-link {
	display: inline-block;
	vertical-align: -1em;
	font-size: 35%;
	text-decoration: none;
	opacity: 0;
	transition: ease-out .5s;
}
.logo-body:hover .logo-link{
	opacity: 100%;
}
.logo-link:any-link {
	color: black;
}
.main {
	height: calc(100% - 4em);
	width: 100%;
	display: inline-block;
}
.folders-container {
	width: 20em;
	height: 100%;
	background-color: white;
	border-right: 1px rgb(46, 46, 46);
	box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
	z-index: -5;
	vertical-align: top;
	display: inline-flex;
	flex-direction: column;
	flex-basis: 20em;
}
.folders-element {
	border: 1px solid #bdc3c7;
	border-radius: 5px;
	width: calc(100% - 2em);
	height: 2.5em;
	margin: .5em 1em;
	transition: .3s linear;
	cursor: pointer;
}
.folders-element img{
	height: 2em;
	width: 2em;
	margin: .25em;
	float: left;
}
.folders-element .folders-element-name{
	display: inline-block;
	margin: .75em 0 .75em 1em;
	vertical-align: middle;
}
.folders-element:hover {
	background-color: #ecf0f1;	
}
.files-container {
	overflow: auto;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	height: 100%;
	width: calc(100% - 20em - 4px);
	align-content: flex-start;
	transition: flex .5s ease;
}
.files-file {
	flex-basis: 10em;
	height: 10em;
	width: 10em;
	background-color: aqua;
	margin: 1em;
	transition: flex .5s ease;
}