html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img{
	margin: 0;
	border: 0;
}
body {overflow: visible;}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.container {
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	-webkit-align-content: flex-end; 
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	flex-direction: row;
	top: 0px;
}
.file-block {
	border: 2px dashed black;
	width: 200px;
	height: 200px;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.file-name {
	position: relative;
	top: 1em;
	margin-top: 2rem;
	font-size: 110%;
	word-wrap: break-word;
}
.file-img {
	
}
.file-block:hover {
	cursor: pointer;
	border: 2px solid black;
}
#dropzone {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}
.auth-container {
	font-family: 'Roboto', sans-serif;
	position: absolute;
	right: 5%;
	height: 75px;
	width: 400px;
	background-color: #FF00FF;	
}
.auth-body {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 6% 1% 7% 1%;
}
@keyframes ldio-3hsve4al3c2 {
	0% { transform: translate(-50%,-50%) rotate(0deg); }
	100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-3hsve4al3c2 div {
	position: absolute;
	width: 15px;
	height: 15px;
	border: 2px solid #0a0a0a;
	border-top-color: transparent;
	border-radius: 50%;
}
.ldio-3hsve4al3c2 div {
	animation: ldio-3hsve4al3c2 1.5s linear infinite;
	top: 12px;
	left: 12px
}
.loadingio-spinner-rolling-366q7x5d1o6 {
	vertical-align: middle;
	width: 25px;
	height: 25px;
	display: inline-block;
	overflow: hidden;
	background: none;
	margin-left: 1%;
}
.ldio-3hsve4al3c2 {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0;
}
.ldio-3hsve4al3c2 div { 
	box-sizing: content-box; 
}
