*{
	overflow: hidden;
	margin: 0;
	border: 0;
}
@font-face {
	font-family: "Oxanium";
	src: url("fonts/Oxanium-Light.ttf");
   }
@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto-Regular.ttf");
   }
body {
	background-color: #ecf0f1;
	font-family: 'Roboto';
}
header {
	position: relative;
	display: block;
	width: 100%;
	height: 4em;
	background-color: #FFFFFF;
	box-shadow: 0 1px 10px rgba(0,0,0,0.5);
	z-index: 5;
}
.auth-container {
	position: relative;
	float: right;
	font-family: 'Roboto', sans-serif; 
	height: 100%;
	width: 4em;
	background-color: #FFFFFF;	
	border-bottom: 1px rgb(46, 46, 46);
	transition: .5s ease;
}
.auth-container:hover {
	background-color: #ecf0f1;
	cursor: pointer;
   }
.auth-body {
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -0.625em;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	height: 2em;
}
.auth-button {
	vertical-align: middle;
	text-align: center;
	top: 50%;
    margin-top: -0.625em;
}
.logo-container {
	position: relative;
	float: left;
	height: 100%;
	font-size: 200%;
	width: 10em;
}
.logo-body {
	font-family: 'Oxanium';
	position: absolute;
	top: 50%;
	width: 100%;
	margin: -0.625em 5% 0 5%;
}
.logo-link {
	display: inline-block;
	vertical-align: -1em;
	font-size: 35%;
	text-decoration: none;
	opacity: 0;
	transition: ease-out .5s;
}
.logo-body:hover .logo-link{
	opacity: 100%;
}
.logo-link:any-link {
	color: black;
}
.main {
	height: calc(100% - 4em);
	width: 100%;
	display: inline-block;
}
.folders-container {
	width: 20em;
	height: 100%;
	background-color: white;
	border-right: 1px rgb(46, 46, 46);
	box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
	z-index: -5;
	vertical-align: top;
	display: inline-flex;
	flex-direction: column;
	flex-basis: 20em;
}
.folders-element {
	border-bottom: 1px solid #bdc3c7;
	width: 100%;
	height: 3em;
	transition: .3s linear;
}
.folders-element-active {
	background-color: #dddddd;
	box-shadow: inset 0 -2px rgb(187, 187, 187);
}
.folders-element img{
	height: 2em;
	width: 2em;
	margin: .5em;
	float: left;
}
.folders-element .folders-element-name{
	display: inline-block;
	margin: 1em 0 1em 1em;
	vertical-align: middle;
}
.folders-element:hover {
	background-color: #ecf0f1;
	cursor: pointer;	
}
.files-container {
	overflow: auto;
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: 100%;
	width: calc(100% - 20em - 4px);
	align-content: flex-start;
	transition: flex .5s ease;
}
.files-file-container {
	height: 10em;
	flex: 1 1 9em;
	max-width: 11em;
	background-color: aqua;
	margin: 1em;
	/* border: 1px solid #3d3d3d;
	box-sizing: content-box; */
	transition: .5s ease;
}
.files-file {
	width: 100%;
	height: 100%;
	position: relative;
	bottom: 10em;
}
.files-file-buttons {
	background-color: sienna;
	position: relative;
	z-index: 500;
	width: 100%;
	height: 100%;
	opacity: 0;
	text-align: center;
}
.files-file-container:hover .files-file-buttons {
	opacity: .2;
	cursor: pointer;
}
.files-icon{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.files-name-block{
	background-color: rgb(221, 136, 255);
	position: relative;
	text-align: left;
	bottom: 2em;
	height: 2em;
}
.files-name-text{
	position: absolute;
	text-overflow: ellipsis;
    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 75%;
	bottom: .2em;
	width: 100%;
}